# === Python / Flask ===
__pycache__/
*.pyc
.venv/
venv/
.env

# === Flutter ===
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
flutter_export_environment.sh

# === IDE ===
.vscode/
.idea/
